html,
body {
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-family: 'Fot-Seurat Pro B';
  color: purple;
  font-size: 30px;
  display: block;
  position: relative;
  text-align: center;
  margin-top: 0px;
  animation: color-switch linear 8s infinite;
}

@keyframes color-switch {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@font-face {
  font-family: 'Fot-Seurat Pro B';
  src: url(../font/FOT-Seurat-Pro-B.otf);
}